.cabecalhoPrincipal .container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav { /*O display flex padroniza os elementos um do lado do outro em linha*/
    display: flex;
}